@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}
/*------------------Menu-------------------------------*/
.header-container{
    width: 100%;
    background-color: #000;
    color: #fff;
    position:fixed;
}
.a{
    color: white;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 150px;
    padding-left: 2%;
    cursor: pointer;
    margin: 30px 0;
}

.menu-list{
    display: none;  
}

nav{
    flex: 1;
    text-align: right;
   
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    
}

nav ul li a{
    
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
/*------------------about-------------------------------*/
#about
{
    padding: 25px 0;
    color: #000;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.about-col-1{
    flex-basis: 35%;
    margin-left: 25px;
}
.about-col-1 h1{
    font-size: 60px;
    font-weight: 600;
    color:black;
    margin-top:80px;
}
.about-col-2 img{
    width: 700px;
    border-radius: 15px;
    margin-top: 150px;
    
}
.about-col-2{
    flex-basis: 50%;
    margin-right: 25px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:black;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
}
/*-------------------BUTTON SECTION------------------------------*/
.button {
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
  }
  /*---------------------FLEX IMAGE SECTION--------------------------*/
  #fleximg{
    padding: 50px , 0;
    margin-top: 40px;
}
.work-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}
.work{
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.work img{
    margin: 30px;
    width: 500px;
    height:400px
}
